.header {
    background-color: #f4f4f4;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    font-size: 24px;
    font-weight: bold;
}

.buttonyy{display:flex;}


.auth-buttons button {
    margin-left: 10px;
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.orders-button {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.auth-buttons button:hover, .orders-button:hover {
    background-color: #0056b3;
}

.logout-button {
    background-color: #dc3545;
}

    .logout-button:hover {
        background-color: #c82333;
    }


.header-content {
    display: flex;
    justify-content: space-between; /* This ensures that the content is spaced out */
    align-items: center; /* Vertically aligns the content */
    padding: 1rem; /* Optional: Adds padding around the content */
    width:100%;
}

.logo-container {
    display: flex;
    align-items: center; /* Centers the logo vertically */
}

.auth-buttons {
    display: flex;
    justify-content: flex-end; /* Aligns the buttons to the right */
}
